header, footer {
    background-color: black;
}

header {
    height: 50px;
    color: white;
    align-content: center;
}

header .name {
    top: 15px;
    left: 70px;
    position: absolute;
}

header img {
    height: 40px;
    width: 40px;
    left: 20px;
    top: 5px;
    position: absolute;
    border-radius: 50px;
}

footer {
    color: white;
    align-content: center;
    text-align: center;
    top: 100px;
}

body {
    background-image: url("logos/1.jpg");
    background-size: cover;
}

.container {
    height: 622px;
}
.welcome-container{
    height: 600px;
    width: 1400px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-size: 100px;
    position: absolute;
    left: 60px;
    top: 60px;
}
.welcome h1 {
    font-size: 70px;
    font-family: Out;
    font-weight: 500;
    top: 30px;
    left: 100px;
    position: absolute;
    color:black;
}

.welcome .para {
    font-family: Out;
    font-size: 20px;
    font-weight: 200;
    align-self: center;
    border-bottom: none;
    top: 120px;
    left: -90px;
    position: absolute;
    color:white;
    text-align: justify; 
    line-height: 30px; 
    border-radius: 30px;
    padding: 30px;
    background-image: url('logos/1.jpg');
    background-size: cover;
}

.welcome p {
    font-family: Pop;
    font-size: 30px;
    font-weight: 700;
    line-height: 42.36px;
    align-self: center;
    border-bottom: none;
    top: 480px;
    left: 500px;
    position: absolute;
    color: black;
}
.welcome .btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: white;
    border: none;
    border-radius: 30px;
    align-content: center;
    color: black;
    font-family: Out;
    font-size: large;
    font-weight: bolder;
    outline: none;
    position: absolute;
    top: 520px;
    left: 675px;
}

.welcome img {
    height: 400px;
    width: 400px;
    top: 70px;
    left: 750px;
    position: absolute;
}

.content {
    display: flex;
    align-items: flex-start; 
    position: absolute; 
    top: 20px; 
    left: 200px; 
    width: calc(50% - 20px);
    gap: 100px;
    
}
.login{
    top: 30px;
    left: 30px;
    position: absolute;
    gap: 0px;
    border-radius: 30px;
    padding: 30px;
}
.login-form{
    width: 400px;
    height: 500px;
    top: 110px;
    left: 750px;
    border-radius: 30px;
    border: 0.86px;
    opacity: 0px;
    inline-size: none;
    text-align: center;
    position: absolute; 
    transform: translateX(-50%); 
    flex-direction: column;
    align-content: end;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    background-color: transparent;
    border: 0.86px solid transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.login-form h1{
    left: 160px;
    top:10px;
    font-family: Out;
    font-size: 30px;
    font-weight: 700;
    line-height: 42.36px;
    color: white;
    align-self: center;
    border-bottom: none;
    position: absolute;
}
.login-form label{
  font-family: Out;
  font-size: 20px;
  font-weight: 300;
  line-height: 36.31px;
  color: black;

}
.login-form .form-control{
    width: calc(190px + 100px) !important; 
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px !important; 
    margin-bottom: 10px; 
    font-family: Out;
    font-size: 15px;
    line-height: 25px;
    text-align: left;
    background-color: transparent;
    color:white;
    background-color: rgba(255, 255, 255, 0.1);
}
.login-form .btn{
    width: 100px; 
    height: 40px; 
    border: none; 
    border-radius: 20px;
    background-color:black;
    border: none;
    border-radius: 30px;
    align-content: center;
    color: white;
    font-family: Out;
    font-size: medium;
    font-weight: bold;
    outline: none;
    position: absolute;
    bottom: -30px;
    left: 125px;
}
.login-form p{
    font-family: Out;
    font-size: 20px;
    font-weight: 500;
    line-height: 42.36px;
    align-self: center;
    border-bottom: none;
    color: white;
    position: absolute;
    left: 100px;
    bottom: 20px;
}
.login-form .button{
    border: none; 
    border-radius: 20px; 
    background-color:palegoldenrod;
    border: none;
    border-radius: 30px;
    align-content: center;
    color:black;
    font-family: Out;
    font-size: medium;
    font-weight: bold;
    outline: none;
    position: absolute;
    top: 5px;
    left: 100px;
    padding: 10px;
    line-height: 15px;
    width: 100px;
    height: 40px;
}
.signin{
        top: 20px;
        left: 30px;
        position: absolute;
        gap: 0px;
        border-radius: 30px;
        padding: 30px;
}
.signin-form label{
    font-family: Out;
    color:black;
}
.signin-form{
    width: 400px;
    height: 580px;
    top: 70px;
    left: 750px;
    border-radius: 30px;
    border: 0.86px;
    opacity: 0px;
    inline-size: none;
    text-align: center;
    position: absolute; 
    transform: translateX(-50%);
    flex-direction: column;
    align-content: end;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    background-color: transparent;
    border: 0.86px solid transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.signin-form h1{
    left: 150px;
    top:10px;
    font-family: Out;
    font-size: 30px;
    font-weight: 700;
    line-height: 42.36px;
    color: #FFFFFF;
    align-self: center;
    border-bottom: none;
    position: absolute;
}
.signin-form .form-control{
    width: calc(190px + 100px) !important;
    border: 1px solid rgba(255, 255, 255, 0.1); 
    border-radius: 30px !important; 
    margin-bottom: 10px; 
    font-family: Out;
    font-size: 15px;
    line-height: 25px;
    text-align: left;
    background-color: transparent;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
}
.signin-form .btn{
    border: none; 
    border-radius: 20px; 
    background-color:palegoldenrod;
    border: none;
    border-radius: 30px;
    align-content: center;
    color: black;
    font-family: Out;
    font-size: medium;
    font-weight: bold;
    outline: none;
    position: absolute;
    bottom:-50px;
    left: 120px;
}
.signin-form .button{
    border: none; 
    border-radius: 20px; 
    background-color:black;
    border: none;
    border-radius: 30px;
    align-content: center;
    color: white;
    font-family: Out;
    font-size: medium;
    font-weight: bold;
    outline: none;
    position: absolute;
    bottom: -10px;
    left: 140px;
    padding: 10px;
}
.home{
    width: 400px;
    height: 500px;
    top: 110px;
    left: 750px;
    border-radius: 30px;
    border: 0.86px;
    opacity: 0px;
    inline-size: none;
    text-align: center;
    position: absolute; 
    transform: translateX(-50%); 
    flex-direction: column;
    align-content: end;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    background-color: transparent;
    border: 0.86px solid transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.home h1{
    left:55px;
    top:10px;
    font-family: Out;
    font-size: 30px;
    font-weight: 700;
    line-height: 42.36px;
    color: #FFFFFF;
    align-self: center;
    border-bottom: none;
    position: absolute;
}
.dashboard-list{
    font-family: Inter;
  font-size: 20px;
  font-weight: 300;
  line-height: 36.31px;
  color: #FFFFFF;
  position: absolute;
  left: 20px;
  top: 100px;
}
.dashboard-list .btn{
    font-family: Out; 
    font-size: 20px;
    font-weight: 300;
    border: none; 
    border-radius: 40px; 
    background-color:white; 
    color: black; 
    display: flex;
    align-items:center; 
    width: 100%; 
    padding: 15px;
    margin: 25px;
    margin-left: 10px;
    transition: background-color 0.3s; 
}
.btn i {
    margin-right: 8px; 
}
.profile{
    top: 20px;
    left: 20px;
    position: absolute;
    gap: 0px;
    border-radius: 30px;
    padding: 30px;
}
.profile-form label{
    font-family: Out;
    color: #FFFFFF;
  font-size: 20px;
  font-weight: 300;
    margin-top: 20px;
    margin-left: 10px;
}
.profile-form{
width: 400px;
height: 500px;
top: 110px;
left: 750px;
border-radius: 30px;
border: 0.86px;
opacity: 0px;
inline-size: none;
text-align: center;
position: absolute; 
transform: translateX(-50%); 
flex-direction: column;
align-content: end;
justify-content: center;
align-items: center;
border-radius: 30px;
backdrop-filter: blur(10px);
background-color: transparent;
border: 0.86px solid transparent;
border: 1px solid rgba(255, 255, 255, 0.5);
}
.profile-form h1{
left: 100px;
top:20px;
font-family: Out;
font-size: 30px;
font-weight: 700;
line-height: 42.36px;
color: #FFFFFF;
align-self: center;
border-bottom: none;
position: absolute;
}
.profile-form .form-control{
width: calc(190px + 100px); 
border: 1px solid rgba(255, 255, 255, 0.1); 
border-radius: 30px !important; 
margin-bottom: 10px; 
font-family: Out;
font-size: 15px;
line-height: 25px;
text-align: left;
background-color: transparent;
color: white;
background-color: rgba(255, 255, 255, 0.1);
padding: 10px;
}
.profile-form .btn{
border: none;
border-radius: 20px; 
background-color:palegoldenrod;
border: none;
border-radius: 30px;
align-content: center;
color: black;
font-family: Out;
font-size: medium;
font-weight: bold;
outline: none;
position: absolute;
bottom: -80px;
left: 100px;
}
.profile-form .button{
    border: none;
    border-radius: 20px; 
    background-color:black;
    border: none;
    border-radius: 30px;
    align-content: center;
    color: white;
    font-family: Out;
    font-size: medium;
    font-weight: bold;
    outline: none;
    position: absolute;
    bottom: -20px;
    left: 145px;
    padding: 10px;
}
.password{
    top: 20px;
    left: 20px;
    position: absolute;
    gap: 0px;
    border-radius: 30px;
    padding: 30px;
}
.password-form label{
    font-family: Out;
    color:black;
  font-size: 20px;
  font-weight: 300;
    margin-top: 20px;
    margin-left: 10px;
}
.password-form{
width: 400px;
height: 500px;
top: 110px;
left: 750px;
border-radius: 30px;
border: 0.86px;
opacity: 0px;
inline-size: none;
text-align: center;
position: absolute; 
transform: translateX(-50%);
flex-direction: column;
align-content: end;
justify-content: center;
align-items: center;
border-radius: 30px;
backdrop-filter: blur(10px);
background-color: transparent;
border: 0.86px solid transparent;
border: 1px solid rgba(255, 255, 255, 0.5);
}
.password-form h1{
left: 80px;
top:20px;
font-family: Out;
font-size: 30px;
font-weight: 700;
line-height: 42.36px;
color: #FFFFFF;
align-self: center;
border-bottom: none;
position: absolute;
}
.password-form .form-control{
width: calc(190px + 100px); 
border: 1px solid rgba(255, 255, 255, 0.1); 
border-radius: 30px !important; 
margin-bottom: 10px; 
font-family: Out;
font-size: 15px;
line-height: 25px;
text-align: left;
background-color: transparent;
color: white;
background-color: rgba(255, 255, 255, 0.1);
padding: 10px;
}
.password-form .btn{
border: none; 
border-radius: 20px; 
background-color:palegoldenrod;
border: none;
border-radius: 30px;
align-content: center;
color: black;
font-family: Out;
font-size: medium;
font-weight: bold;
outline: none;
position: absolute;
bottom: -100px;
left: 105px;
}
.password-form .button{
    border: none;
    border-radius: 20px; 
    background-color:black;
    border: none;
    border-radius: 30px;
    align-content: center;
    color: white;
    font-family: Out;
    font-size: medium;
    font-weight: bold;
    outline: none;
    position: absolute;
    bottom: -50px;
    left: 110px;
    padding: 10px;
}
.holiday-table{
    width: 400px;
    height: 500px;
    top: 110px;
    left: 750px;
    border-radius: 30px;
    border: 0.86px;
    opacity: 0px;
    inline-size: none;
    text-align: center;
    position: absolute; 
    transform: translateX(-50%); 
    flex-direction: column;
    align-content: end;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    background-color: transparent;
    border: 0.86px solid transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.holiday-table h1{
    left: 100px;
    top:20px;
    font-family: Out;
    font-size: 30px;
    font-weight: 700;
    line-height: 42.36px;
    color: #FFFFFF;
    align-self: center;
    border-bottom: none;
    position: absolute;
}
.holiday-table .btn{
    border: none;
    border-radius: 20px; 
    background-color:palegoldenrod;
    border: none;
    border-radius: 30px;
    align-content: center;
    color: black;
    font-family: Out;
    font-size: medium;
    font-weight: bold;
    outline: none;
    position: absolute;
    bottom: 20px;
    left: 120px;
}
table {
    position: absolute;
    top: 100px;
    width: 100%;
    border-collapse: collapse;
}

thead th {
    border: 1px solid white; 
    color: black;
}

tbody td {
    border: 1px solid white; 
    color: white; 
}
.login-form div {
    margin-bottom: 20px; 
}
@font-face {
    font-family: 'Out';
    src: url('logos/Outfit-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pop';
    src: url('logos/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

